html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#minuteurChambreFroide {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #051d2b;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    color: cadetblue;
}

ul {
    width: 90%;
    align-self: center;
    margin-top: 70px;
}

ul>li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
    color: cadetblue;
}

ul>li>span {
    border: cadetblue 1px solid;
    padding: 0 3px;
}

ul>li>.warning {
    border: none;
    font-weight: 900;
    color: tomato;
    text-decoration: underline;
}

ul>li>.crossButton {
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    font-weight: 600;
    color: white;
    background-color: tomato;
}

#clock {
    width: 90%;
    align-self: center;
    display: flex;
}

#clock>span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: cadetblue;
    align-self: center;
}

#timersCountBlock {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    align-self: center;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#timersCountBlock>span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #051d2b;
    align-self: center;
}

#timelineIndicatorWrapper {
    width: 90%;
    margin-top: 25px;
    display: flex;
    align-self: center;
}

#timelineIndicatorWrapper>span {
    flex: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: cadetblue;
}

#timelineMid {
    text-align: center;
}

#timelineMax {
    text-align: right;
}

#timeLine {
    width: 90%;
    height: 5px;
    border-radius: 5px;
    margin-top: 5px;
    align-self: center;
    background-color: cadetblue;
}

#timersBlockWrapper {
    width: 90%;
    border-radius: 5px;
    align-self: center;
}

#timersBlockWrapper>span {
    width: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #051d2b;
    text-align: center;
    border-radius: 5px;
    background-color: cadetblue;
    margin: 10px 5px;
    padding: 0 5px 5px 5px;
    position: absolute;
}

#timersBlockWrapper>span:before {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    position: relative;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    background-color: cadetblue;
    transform: rotate(45deg);
    z-index: 0;
}

.close-button {
    transition: all 0.5s ease;
    position: absolute;
    background-color: tomato;
    padding: 1px 5px;
    left: 0;
    bottom: 0;
    margin-left: -11px;
    margin-bottom: -9px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 11px;
    color: white;
    text-decoration: none;
    box-shadow: -3px 1px 6px 0 rgba(0,0,0,0.1);
}

.close-button:hover {
    transform: scale(2);
}